@import url('https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&family=Nunito:wght@800&display=swap');

.testFont{
    font-family: 'K2D', sans-serif;
    font-size:18px;
    color: #2D4985;
}

.testFont1{
  font-family: 'K2D', sans-serif;
}
body{
  background-color:white;
}

.main{
  max-width: 1500px;
  margin: auto;
  padding: 10px;
}
/* navbar styling */
 .navbar {

    overflow: hidden;
  }

  .navbar .company-name {
    float: left;
    padding: 10px 20px;
    color: #2D4985;
    text-decoration: none;
    font-size: 20px;
  }


  .navbar .nav-links {
    float: right;
    padding: 10px 20px;
  }


  .navbar .nav-links a {
    color: #2D4985;
    text-decoration: none;
    margin: 0 10px;
  }


  /* navbar styling */

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

.font-k2d {
	font-family: 'K2D', sans-serif;
}
.text-k2d{
	font-family: 'K2D', sans-serif;
}
.accordion__header {
  padding: 1em;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordion__header > * {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}
.accordion__header.is-active {
  color: black;
}

.accordion__toggle {
  margin-left: 10px;
  height: 3px;
  background-color: #222;
  width: 13px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px;
}

.accordion__toggle::before {
  content: "";
  width: 3px;
  height: 13px;
  display: block;
  background-color: #222;
  position: absolute;
  top: -5px;
  left: 5px;
  border-radius: 2px;
}

.is-active {
  border: none;
}

.is-active .accordion__toggle {
  background-color: black;
}
.is-active .accordion__toggle::before {
  display: none;
}
.accordion__body {
  display: none;
  padding: 1em;

	border-left: 0px;
	border-right: 0px;
  border-top: 0;
}
.accordion__body.is-active {
  display: block;
}

/*meet mira */
.card1:hover span {
  display: none
}
.card1:hover:before {
  content: "The mission behind MIRA is clear to revolutionize mortgage lending through technological prowess. It serves as a catalyst to eradicate inefficiencies and augment value for lenders, borrowers, and intermediaries alike."
}  
.card2:hover span {
  display: none
}
.card2:hover:before {
  content: "MIRA aspires to be a groundbreaking force in the mortgage industry. It aims to automate the cumbersome, often slow tasks that have long held back this sector, introducing unprecedented speed and efficiency into the mortgage ecosystem.."
}    
.card3:hover span {
  display: none
}
.card3:hover:before {
  content: " Ultimately, the driving purpose of MIRA is a profound belief in technology's power to positively transform lives by simplifying and democratizing the mortgage process for all stakeholders."
} 
